<section class="player">
  <!-- Audio -->
  <audio #audioplayer (timeupdate)="updateTimeAudio()">
    <ng-container *ngFor="let audio_file of exhibit.getContent(selectedLanguage).audio">
      <source [src]="'/uploads/' + exhibit._id + '/' + audio_file.filename"
              [type]="audio_file.mimeType">
    </ng-container>

    <p i18n>Your browser does not support the HTML5 audio feature.</p>
  </audio>

  <!-- Progress Bar -->
  <progress #progressAudio class="progress" min='0' max='100' value='0'>0%</progress>

  <div class="controls">
    <!-- Play/Pause -->
    <button class="playpause" (click)="playPauseAudio()" aria-label="Play and pause audio">
      <ng-container *ngIf="!audioPlaying">
        <fa-icon icon="play" size="lg"></fa-icon>
      </ng-container>
      <ng-container *ngIf="audioPlaying">
        <fa-icon icon="pause" size="lg"></fa-icon>
      </ng-container>
    </button>

    <!-- Stop -->
    <button class="stop" (click)="stopItAudio()" aria-label="Stop audio">
      <fa-icon class="fa-lg" icon="stop"></fa-icon>
    </button>

    <!-- Rewind -->
    <button class="rwd" (click)="rewindAudio()" aria-label="Rewind audio">
      <fa-icon class="fa-lg" icon="backward"></fa-icon>
    </button>

    <!-- Forward -->
    <button class="fwd" (click)="forwardAudio()" aria-label="Fast forward audio">
      <fa-icon class="fa-lg" icon="forward"></fa-icon>
    </button>

    <!-- Time -->
    <div #timeAudio class="time">00:00</div>
  </div>
</section>
