<section class="player">
    <!-- Audio -->
    <audio #audioplayer (timeupdate)="updateTimeAudio()">
        <ng-container *ngFor="let audio_file of exhibit.getContent(selectedLanguage).audio">
            <source [src]="'/uploads/' + exhibit._id + '/' + audio_file.filename"
                    [type]="audio_file.mimeType">
        </ng-container>

        <p i18n>Your browser does not support the HTML5 audio feature.</p>
    </audio>

    <!-- Progress Bar -->
    <progress #progressAudio max="100" value="0">0%</progress>

    <div class="controls">
        <!-- Play/Pause -->
        <fa-icon icon="play" *ngIf="!audioPlaying" (click)="playPauseAudio()"
                 aria-label="Play and pause audio"></fa-icon>
        <fa-icon icon="pause" *ngIf="audioPlaying" (click)="playPauseAudio()"
                 aria-label="Play and pause audio"></fa-icon>

        <!-- Stop -->
        <fa-icon icon="stop" (click)="stopItAudio()" aria-label="Stop audio"></fa-icon>

        <!-- Rewind -->
        <fa-icon icon="backward" (click)="rewindAudio()" aria-label="Rewind audio"></fa-icon>

        <!-- Forward -->
        <fa-icon icon="forward" (click)="forwardAudio()" aria-label="Fast forward audio"></fa-icon>

        <!-- Time -->
        <div #timeAudio>00:00</div>
    </div>
</section>
