#page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#page main {
  flex-grow: 1;
  overflow: auto;
}

h1 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.icons {
  font-size: 1.5rem;
}

.liked {
  color: red;
}

/*.card-size {*/
/*  max-width: 100%;*/
/*  max-height: 220px;*/
/*}*/

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.player {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  max-width: 100%;
  resize: none;
}

button:hover {
  color: black;
}

video, audio, .progress, .time, .transcript {
  width: 100%;
}

.progress {
  height: 15px;
}

.transcript {
  height: 30px;
}

.tcbutton {
  float: right;
  height: 100%;
  border: 1px solid;
}

.phones, .camera {
  text-align: center;
}

.playpause, .stop, .fwd, .rwd {
  width: 25%;
  height: 30px;
  display: inline-block;
  border: 1px solid;
}

.controls {
  height: 100%;
  width: 100%;
  text-align: center;
}

.time {
  font-size: 15pt;
  height: 100%;
  text-align: center;
}

progress {background-color: black;}
progress::-moz-progress-bar {background-color: white !important;}

.truncate {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*img {*/
/*  margin-bottom: auto;*/
/*  margin-top: auto;*/
/*}*/

/* SIDENAV */

mat-toolbar {
  flex-shrink: 0;
  z-index: 2;
}


