<div id="page">

  <app-app-bar *ngIf="exhibit && exhibit.parentModel === 'Museum'"
               back_arrow_link="/museum"></app-app-bar>
  <app-app-bar *ngIf="exhibit && exhibit.parentModel === 'Exposition' && exposition"
               [back_arrow_link]="'/exposition/' + exposition._id"></app-app-bar>

  <!-- Page Content -->
  <main>

    <!-- Carousel Section -->

    <section *ngIf="exhibit">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <ng-container *ngIf="getExhibitContent(locale).images.length; else elsecase">
          <div ngxSlickItem
               *ngFor="let image of getExhibitContent(locale).images"
               class="slide">
            <div style="position: relative; padding-top: 61.8%">
              <div style="position: absolute; width: 100%; height: 100%; left: 0; top: 0">
                <img class="w-100 h-100" style="object-fit: contain; background-color: black"
                     [alt]="image.alternativeText"
                     [src]="'/uploads/' + exhibit._id + '/' + image.filename">
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elsecase>
          <div ngxSlickItem
               *ngFor="let image of getExhibitContent('de').images"
               class="slide">
            <div style="position: relative; padding-top: 61.8%">
              <div style="position: absolute; width: 100%; height: 100%; left: 0; top: 0">
            <img class="w-100" [alt]="image.alternativeText"
                 [src]="'/uploads/' + exhibit._id + '/' + image.filename">
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-slick-carousel>
    </section>

    <!-- Exhibit Title -->
    <h1 *ngIf="exhibit" class="mt-2 px-2">{{ getExhibitContent(locale).name }}</h1>

    <!-- Media Player Section -->
    <section *ngIf="exhibit">
      <div class="container">
        <div class="mx-auto">
          <!-- AUDIO -->
          <div class="mt-4" body *ngIf="getExhibitContent(locale).audio.length">
            <hr class="hl">
            <section class="player">
              <div class="phones">
                <fa-icon icon="headphones" size="lg"></fa-icon>
              </div>

              <app-audio-player [exhibit]="exhibit" [selectedLanguage]="locale"></app-audio-player>

              <div *ngIf="getExhibitContent(locale).transcript" style="text-align: center; margin-top: 2pt">
                <button (click)="openTranscript(transcriptModal)" aria-label="Open transcript">
                  <fa-icon class="fa-lg" icon="book-reader"></fa-icon>
                </button>
              </div>
              <ng-template #transcriptModal let-c="close" let-d="dismiss">
                <div class="modal-header" style="overflow-y: initial !important">
                  <h4 class="modal-title" id="modal-basic-title" i18n>Audio Transcript</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="overflow-y: auto; height:400pt;">
                  <p>{{getExhibitContent(locale).transcript.text}}</p>
                </div>
              </ng-template>
            </section>
          </div>
          <!-- VIDEO -->
          <div body *ngIf="getExhibitContent(locale).video.length">
            <hr class="hl">
            <section class="player">
              <div class="camera">
                <fa-icon icon="video" size="lg"></fa-icon>
              </div>

              <app-video-player [exhibit]="exhibit" [selectedLanguage]="locale"></app-video-player>

            </section>
          </div>
        </div>
      </div>
    </section>

    <p *ngIf="exhibit" class="p-2">
      <markdown>{{getExhibitContent(locale).info}}</markdown>
    </p>
  </main>

  <footer>
    <section *ngIf="exhibit" role="contentinfo">
      <nav class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-2 icons py-2 text-center">
              <fa-icon icon="heart" [ngClass]="{'liked' : likedFlag == true}" (click)="likeUnlikeExhibit()"
                       aria-label="Like"></fa-icon>
            </div>
            <div class="col-8 input-group py-2">
              <div class="input-group-prepend">
                <button [attr.disabled]="isFirst()" (click)="prevExhibit()" type="button" class="btn btn-outline-secondary"
                        aria-label="Go to previous exhibit">
                  <fa-icon icon="chevron-left"></fa-icon>
                </button>
              </div>
              <input role="search" type="number" [(ngModel)]="filterNumber" class="form-control"
                     placeholder="Exhibit number">
              <div class="input-group-append">
                <button (click)="manualSelect()" class="btn btn-outline-secondary" type="button"
                        aria-label="Search by exhibit number">
                  <fa-icon icon="search-location"></fa-icon>
                </button>
                <button [attr.disabled]="isLast()" (click)="nextExhibit()" type="button" class="btn btn-outline-secondary" aria-label="Go to next exhibit">
                  <fa-icon icon="chevron-right"></fa-icon>
                </button>
              </div>
            </div>
            <div class="col-2 icons py-2 text-center">
              <fa-icon icon="comment-alt" (click)="openComment()" class="mr-2 ml-auto py-3"
                       aria-label="Comment"></fa-icon>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </footer>
</div>

<app-cookie-banner></app-cookie-banner>
