<div class="wrapper">
  <section class="sidebar">
    <app-admin-sidebar></app-admin-sidebar>
  </section>

  <!-- Header -->

  <app-admin-header class="header" [breadcrumbs]="breadcrumbs"
                    showLanguageSelection="true" (languageSelected)="selectedLanguage = $event"></app-admin-header>

  <app-admin-alert *ngIf="showAlert" class="header mt-2"
                   [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-admin-alert>

  <!-- -->


</div>

<app-common-cookie-banner></app-common-cookie-banner>
