<div class="wrapper">
  <aside class="sidebar">
    <app-admin-part-sidebar></app-admin-part-sidebar>
  </aside>

  <!-- Header -->

  <app-admin-part-header class="header" [breadcrumbs]="breadcrumbs"></app-admin-part-header>

  <main class="content mx-3">

    <!-- Expositions -->

    <div class="card mt-2">
      <div class="card-header">
        Ausstellungen
      </div>
      <div class="card-body d-flex flex-wrap">
        <app-common-part-exposition-card *ngFor="let exposition of expositions"
                                         [selectedLanguage]="locale"
                                         [exposition]="exposition"
                                         [width]="'125px'"
                                         [height]="'150px'"
                                         [link]="'/admin/statistics/exposition/'+ exposition._id">
        </app-common-part-exposition-card>
      </div>
    </div>

  </main>
</div>

<app-common-part-cookie-banner></app-common-part-cookie-banner>
