<div id="page">

  <!-- App Bar -->
  <mat-toolbar class="mat-elevation-z4">
    <a routerLink="/museum" routerLinkActive="active" i18n>
      <mat-icon>arrow_back</mat-icon>
    </a>
  </mat-toolbar>

  <!-- Page Content -->
  <main>

    <!-- Exposition Logo -->
    <div style="position: relative; padding-top: 61.8%">
      <img *ngIf="exposition && exposition.logo"
           style="position: absolute; height: 100%; left: 0; top: 0; object-fit: cover"
           class="w-100"
           [src]="'/uploads/' + exposition._id + '/' + exposition.logo.filename"
           [alt]="exposition.logo.alternativeText"/>
    </div>

    <!-- Exposition Title -->
    <h1 class="mt-2 px-2">{{ getExpositionContent(locale).name }}</h1>

    <!-- Tabs -->
    <mat-tab-group mat-stretch-tabs>

      <!-- Info -->
      <mat-tab label="Info">
        <p class="p-2">{{ getExpositionContent(locale).info }}</p>
      </mat-tab>

      <!-- Exhibits -->
      <mat-tab label="Exhibits">
        <section *ngIf="exposition" role="main">
          <div class="container">
            <div class="grid-container pb-5">
              <div *ngFor="let exhibit of exhibits" class="mx-auto">
                <app-exhibit-card [exhibit]="exhibit" [selectedLanguage]="locale" [width]="'125px'" [height]="'150px'"
                                  [link]="'/exhibit/' + exhibit._id"></app-exhibit-card>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>

    </mat-tab-group>
  </main>

  <footer>
    <section *ngIf="exposition" role="contentinfo" class="fixed-bottom"
             style="height: 48px; background-color: #f5f5f5">
      <nav class="bg-light" [attr.aria-label]="ariaLabelFooterNavigation">
        <div class="container">
          <div class="row">
            <div class="col icons py-2 text-center">
              <fa-icon role="button" [attr.aria-label]="ariaLabelLikeExposition" icon="heart"
                       [ngClass]="{'liked' : likedFlag == true}" (click)="likeExposition()"></fa-icon>
            </div>
            <div class="col icons py-2 text-center">
              <fa-icon (click)="openComment()" icon="comment-alt" class="mr-2 ml-auto py-3"
                       [attr.aria-label]="ariaLabelOpenComment"></fa-icon>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </footer>

</div>

<div *ngIf="this.cookieLawService">
  <ng-container *ngIf='this.cookieLawService.isAccepted()'>
    <div class="fixed-bottom text-center">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3 i18n>Diese Website verwendet Cookies</h3>
        <p i18n>
          – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am
          Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und direkt unsere Website besuchen
          zu können.
        </p>
        <button type="button" class="btn btn-light btn-lg" (click)="this.cookieLawService.accepted()" i18n>
          Ich stimme zu
        </button>
      </div>
    </div>
  </ng-container>
</div>
