<div id="page">

  <!-- App Bar -->
  <mat-toolbar class="mat-elevation-z4" style="display: flex">
    <a aria-label="Zurück" routerLink="/museum" routerLinkActive="active" i18n>
      <mat-icon>arrow_back</mat-icon>
    </a>

    <div style="flex-grow: 1"></div>

    <mat-menu #appMenu="matMenu">
      <div><a [href]="'/en' + this.router.url"><img class="ml-2" src="assets/images/en.png" alt="British Flag"/> Englisch</a></div>
      <div><a [href]="'/de' + this.router.url"><img class="ml-2" src="assets/images/de.png" alt="German Flag"/> Deutsch</a></div>
    </mat-menu>

    <button aria-label="select language"mat-icon-button [matMenuTriggerFor]="appMenu">
      <img [src]="'assets/images/' + locale + '.png'" [alt]="langFlagAltTexts[locale]"/>
    </button>
  </mat-toolbar>

  <!-- Page Content -->
  <main>

    <!-- Exposition Logo -->
    <div style="position: relative; padding-top: 61.8%">
      <img *ngIf="exposition && exposition.logo"
           style="position: absolute; height: 100%; left: 0; top: 0; object-fit: cover"
           class="w-100"
           [src]="'/uploads/' + exposition._id + '/' + exposition.logo.filename"
           [alt]="exposition.logo.alternativeText"/>
    </div>

    <!-- Exposition Title -->
    <h1 *ngIf="exposition" class="mt-2 px-2">{{ getExpositionContent(locale).name }}</h1>

    <!-- Tabs -->
    <mat-tab-group mat-stretch-tabs>

      <!-- Info -->
      <mat-tab label="Info">
        <p *ngIf="exposition" class="p-2">{{ getExpositionContent(locale).info }}</p>
      </mat-tab>

      <!-- Exhibits -->
      <mat-tab label="Exponate">
        <section *ngIf="exposition" role="main">
          <div class="container">
            <div class="grid-container pb-5">
              <div *ngFor="let exhibit of exhibits" class="mx-auto">
                <app-exhibit-card [exhibit]="exhibit" [selectedLanguage]="locale" [width]="'125px'" [height]="'150px'"
                                  [link]="'/exhibit/' + exhibit._id"></app-exhibit-card>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>

    </mat-tab-group>
  </main>

  <footer>
    <section *ngIf="exposition" role="contentinfo" class="fixed-bottom"
             style="height: 48px; background-color: #f5f5f5">
      <nav class="bg-light" [attr.aria-label]="ariaLabelFooterNavigation">
        <div class="container">
          <div class="row">
            <div class="col icons py-2 text-center">
              <fa-icon role="button" [attr.aria-label]="ariaLabelLikeExposition" icon="heart"
                       [ngClass]="{'liked' : likedFlag == true}" (click)="likeExposition()"></fa-icon>
            </div>
            <div class="col icons py-2 text-center">
              <fa-icon (click)="openComment()" icon="comment-alt" class="mr-2 ml-auto py-3"
                       [attr.aria-label]="ariaLabelOpenComment"></fa-icon>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </footer>

</div>

<app-cookie-banner></app-cookie-banner>
