<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section class="header ml-3 mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>
  <section class="content-left ml-3 mr-2">
    <!-- Section Infoseiten -->
    <section *ngIf="infopages" class="mt-2">
      <app-box-card [descHeader]="descInfopageBox">
        <div header>
          <a routerLink="/admin/infopage/new" routerLinkActive="active">
            <fa-icon class="fa-lg" icon="plus-circle"></fa-icon>
          </a>
        </div>
        <div body *ngFor="let infopage of infopages">
          <a routerLink="/admin/infopage/{{ infopage._id }}" routerLinkActive="active">
            <div class="card-size card m-1">
              <div class="card-body">
                <h4 class="small truncate">{{infopage.name}}</h4>
              </div>
            </div>
          </a>
        </div>
      </app-box-card>
    </section>
  </section>
  <section class="content-right ml-3 mr-2">
    <!-- Section Lageplan -->
    <section *ngIf="museum" class="mt-2">
      <app-box-card [descHeader]="descLageplan">
        <div header>
          <fa-icon [hidden]="getMuseumContent(selectedLanguage).sitePlan" (click)="onSitePlanInput.click()"
                   class="fa-lg"
                   icon="plus-circle">
          </fa-icon>
          <form class="d-none">
            <input #onSitePlanInput (change)="onSitePlanChanged($event)" type="file" name="file">
          </form>
          <fa-icon [hidden]="!getMuseumContent(selectedLanguage).sitePlan" class="fa-lg" icon="minus-circle"
                   (click)="deleteSitePlan()"></fa-icon>
        </div>
        <div body>
          <div style="width: 100px" class="mb-3">
            <label class="form-label mb-2" for="lang_select">
              Sprache
            </label>
            <select id="lang_select" class="form-control" [(ngModel)]="selectedLanguage">
              <option *ngFor="let lang of languages" [ngValue]='lang'>{{lang}}</option>
            </select>
          </div>
          <img *ngIf="getMuseumContent(selectedLanguage).sitePlan" class="w-100"
               [alt]="getMuseumContent(selectedLanguage).sitePlan.alternativeText"
               [src]="'/uploads/' + museum._id + '/' + getMuseumContent(selectedLanguage).sitePlan.filename"/>
        </div>
      </app-box-card>
    </section>
  </section>
</div>

<app-cookie-banner></app-cookie-banner>
