<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>

  <section class="header ml-3 mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>

  <!-- Active languages -->
  <section class="m-2">
    <app-box-card descHeader="Sprachen">
      <div body>

        <ul *ngIf="this.setting" style="margin: 0; padding: 0; list-style-type:none">
          <li style="display: flex; align-items: center">
            <input
              id="check_german"
              type="checkbox"
              name="active_language"
              value="de"
              [(ngModel)]="this.setting.activeLangs.de"
              (ngModelChange)="this.updateSetting()">
            <img class="mx-2" src="assets/images/de.png"/>
            <label for="check_german" style="margin: 0">Deutsch</label>
          </li>
          <li style="display: flex; align-items: center">
            <input
              id="check_english"
              type="checkbox"
              name="active_language"
              value="en"
              [(ngModel)]="this.setting.activeLangs.en"
              (ngModelChange)="this.updateSetting()">
            <img class="mx-2" src="assets/images/en.png"/>
            <label for="check_english" style="margin: 0">Englisch</label>
          </li>
          <li style="display: flex; align-items: center">
            <input
              id="check_spanish"
              type="checkbox"
              name="active_language"
              value="es"
              [(ngModel)]="this.setting.activeLangs.es"
              (ngModelChange)="this.updateSetting()">
            <img class="mx-2" src="assets/images/es.png"/>
            <label for="check_spanish" style="margin: 0">Spanisch</label>
          </li>
          <li style="display: flex; align-items: center">
            <input
              id="check_french"
              type="checkbox"
              name="active_language"
              value="fr"
              [(ngModel)]="this.setting.activeLangs.fr"
              (ngModelChange)="this.updateSetting()">
            <img class="mx-2" src="assets/images/fr.png"/>
            <label for="check_french" style="margin: 0">Französisch</label>
          </li>
        </ul>

      </div>
    </app-box-card>
  </section>

</div>
<div *ngIf="this.cookieLawService">
  <ng-container *ngIf='this.cookieLawService.isAccepted()'>
    <div class="fixed-bottom text-center">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3>Diese Website verwendet Cookies</h3>
        <p> – nähere Informationen dazu und zu Ihren
          Rechten als Benutzer finden Sie in
          unserer Datenschutzerklärung am Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und
          direkt unsere Website besuchen zu können.</p>
        <button type="button" class="btn btn-light btn-lg" (click)="this.cookieLawService.accepted()">Ich stimme
          zu
        </button>
      </div>
    </div>
  </ng-container>
</div>
