/*
 * Flex layout
 */

#page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#page main {
  flex-grow: 1;
  overflow: auto;
}

mat-toolbar {
  flex-shrink: 0;
}

/*
 * Footer
 */

mat-toolbar {
  display: flex;
  width: 100%;
  padding: 0;
}

mat-toolbar fa-icon {
  flex-grow: 1;
  text-align: center;
}

mat-toolbar #navigation-controls {
  flex-grow: 0;
  flex-shrink: 0
}

mat-toolbar #navigation-controls input {
  display: inline-block;
  width: 80px;
  text-align: center;
}

/*
 *
 */

h1 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.icons {
  font-size: 1.5rem;
}

.liked {
  color: red;
}

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button:hover {
  color: black;
}

.phones, .camera {
  text-align: center;
}
