#page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#page main {
  flex-grow: 1;
  overflow: auto;
}

h1 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.icons {
  font-size: 1.5rem;
}

.liked {
  color: red;
}

/*.card-size {*/
/*  max-width: 100%;*/
/*  max-height: 220px;*/
/*}*/

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button:hover {
  color: black;
}

.phones, .camera {
  text-align: center;
}
