<a routerLink="{{ link }}" routerLinkActive="active" [attr.aria-labelledby]="'linkLabel_'+exposition._id">
  <mat-card class="card m-1 p-0" [ngClass]="{'inactive-item' : exposition.active == false}"
            [ngStyle]="{'height': height, 'width': width}">
    <img *ngIf="exposition.logo; else elsecase" class="card-img-top"
         [src]="'/uploads/' + exposition._id + '/' + exposition.logo.filename"
         [alt]="exposition.logo.alternativeText">
    <ng-template #elsecase>
      <img src="/assets/images/noimage.png" alt="No Image">
    </ng-template>
    <div class="card-body p-0">
      <p class="card-text text-center small p-1" id="linkLabel_{{exposition._id}}">
        {{exposition.getContent(selectedLanguage).name}}
      </p>
    </div>
  </mat-card>
</a>
