@media (min-width: 1000px)
{
  #user-component {
    max-width: 100vh;
    margin: auto
  }
}

#user-component {
  height: 100vh;
}

/*
 * DARK MODE
 */

#user-component {
  background-color: #121212;
}
