<div id="page">
  <header>
    <app-header *ngIf="museum"></app-header>
  </header>

  <main>
    <img *ngIf="museum.logo"
         class="w-100"
         [src]="'/uploads/' + museum._id + '/' + museum.logo.filename"
         [alt]="museum.logo.alternativeText"/>

    <h1 class="p-2">{{ getMuseumContent(locale).name }}</h1>

    <!-- Exhibition List Section -->
    <section *ngIf="museum" class="mt-4" role="main">
      <div class="container">
        <div class="grid-container pb-5">
          <div *ngFor="let exposition of expositions" class="mx-auto">
            <app-exposition-card [exposition]="exposition" [selectedLanguage]="locale" [width]="'125px'"
                                 [height]="'150px'"
                                 [link]="'/exposition/' + exposition._id"></app-exposition-card>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section role="contentinfo" class="bg-light" style="height: 48px"></section>
  </footer>
</div>

<div *ngIf="this.cookieLawService">
  <ng-container *ngIf='this.cookieLawService.isAccepted()'>
    <div class="fixed-bottom text-center">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3 i18n>Diese Website verwendet Cookies</h3>
        <p i18n>
          – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am
          Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und direkt unsere Website besuchen
          zu können.
        </p>
        <button type="button" class="btn btn-light btn-lg" (click)="this.cookieLawService.accepted()" i18n>
          Ich stimme zu
        </button>
      </div>
    </div>
  </ng-container>
</div>
