<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <!-- Home -->
      <a mat-list-item routerLink="/" i18n>Home</a>

      <!-- Info Pages -->
      <a mat-list-item
         *ngFor="let infopage of infopages"
         routerLink="/infopage/{{ infopage._id }}"
         routerLinkActive="active">

        {{ infopage.name }}
      </a>

      <!-- Site Plan -->
      <img *ngIf="museum && getMuseumContent(locale).sitePlan"
           width="100%"
           [src]="'/uploads/' + museum._id + '/' + getMuseumContent(locale).sitePlan.filename"
           [alt]="getMuseumContent(locale).sitePlan.alternativeText">

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Page -->
  <mat-sidenav-content id="page">

    <app-app-bar [sidenav]="sidenav"></app-app-bar>

    <!-- Page Content -->
    <main style="position: relative">

      <!-- Museum Logo -->
      <div style="position: relative; padding-top: 61.8%">
        <img *ngIf="museum && getMuseumContent(locale).image"
             style="position: absolute; height: 100%; left: 0; top: 0; object-fit: cover"
             class="w-100"
             [src]="'/uploads/' + museum._id + '/' + getMuseumContent(locale).image.filename"
             [alt]="getMuseumContent(locale).image.alternativeText"/>
      </div>

      <!-- Museum Title -->
      <h1 *ngIf="museum" class="mt-2 px-2">{{ getMuseumContent(locale).name }}</h1>

      <!-- Tabs -->
      <mat-tab-group mat-stretch-tabs>

        <!-- Info -->
        <mat-tab label="Info">
          <p *ngIf="museum" class="p-2">{{ getMuseumContent(locale).info }}</p>
        </mat-tab>

        <!-- Exhibits -->
        <mat-tab *ngIf="exhibits && exhibits.length > 0" label="Exponate">
          <section *ngIf="museum" class="mt-4" role="main">
            <div class="container">
              <div class="grid-container pb-5">
                <div *ngFor="let exhibit of exhibits" class="mx-auto">
                  <app-exhibit-card [exhibit]="exhibit" [selectedLanguage]="locale" [width]="'125px'"
                                       [height]="'150px'"
                                       [link]="'/exhibit/' + exhibit._id"></app-exhibit-card>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>

        <!-- Expositions -->
        <mat-tab *ngIf="expositions && expositions.length > 0" label="Ausstellungen">
          <section *ngIf="museum" class="mt-4" role="main">
            <div class="container">
              <div class="grid-container pb-5">
                <div *ngFor="let exposition of expositions" class="mx-auto">
                  <app-exposition-card [exposition]="exposition" [selectedLanguage]="locale" [width]="'125px'"
                                       [height]="'150px'"
                                       [link]="'/exposition/' + exposition._id"></app-exposition-card>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>

      </mat-tab-group>
    </main>

    <footer>
      <section role="contentinfo" style="height: 48px; background-color: #f5f5f5"></section>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="this.cookieLawService">
  <ng-container *ngIf='this.cookieLawService.isAccepted()'>
    <div class="fixed-bottom text-center">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3 i18n>Diese Website verwendet Cookies</h3>
        <p i18n>
          – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am
          Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und direkt unsere Website
          besuchen
          zu können.
        </p>
        <button type="button" class="btn btn-light btn-lg" (click)="this.cookieLawService.accepted()" i18n>
          Ich stimme zu
        </button>
      </div>
    </div>
  </ng-container>
</div>
