<div id="admin-part-header">

    <!-- Breadcrumbs -->

    <ol class="breadcrumbs flex-grow">
        <li *ngFor="let breadcrumb of breadcrumbs">
            <ng-container *ngIf="breadcrumb.url; then link else text"></ng-container>

            <ng-template #link>
                <a [href]="breadcrumb.url">{{breadcrumb.text}}</a>
            </ng-template>

            <ng-template #text>{{breadcrumb.text}}</ng-template>
        </li>
    </ol>

    <!-- Language Selection -->

    <div *ngIf="showLanguageSelection && setting" id="language-selection">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Show languages">
            <img [src]="'assets/images/' + selectedLanguage + '.png'" [alt]="langAltTexts[selectedLanguage]"/>
        </button>

        <mat-menu #appMenu="matMenu">
            <div class="language-buttons">

                <button mat-button (click)="onLanguageSelected('de')">
                    <img src="assets/images/de.png" [alt]="langAltTexts['de']"/>
                    Deutsch
                </button>

                <button mat-button (click)="onLanguageSelected('en')">
                    <img src="assets/images/en.png" [alt]="langAltTexts['en']"/>
                    Englisch
                </button>

                <button mat-button (click)="onLanguageSelected('es')">
                    <img src="assets/images/es.png" [alt]="langAltTexts['es']"/>
                    Spanisch
                </button>

                <button mat-button (click)="onLanguageSelected('fr')">
                    <img src="assets/images/fr.png" [alt]="langAltTexts['fr']"/>
                    Französisch
                </button>

            </div>
        </mat-menu>
    </div>
</div>
