#admin-part-header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #eee;
}

#admin-part-header > * {
    margin: 16px;
}

.flex-grow {
    flex-grow: 1;
}

/*
 * BREADCRUMBS
 */

ol.breadcrumbs {
    padding: 0;
    list-style-type: none;
}

ol.breadcrumbs li {
    display: inline;
    font-size: 18px;
}

ol.breadcrumbs li + li:before {
    padding: 0 8px;
    color: black;
    content: "/\00a0";
}

ol.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

ol.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*
 * LANGUAGE SELECTION
 */

.language-buttons button {
    display: block;
    width: 100%;
    text-align: left;
}

