<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section *ngIf="exposition" class="header ml-3 mt-2">
    <app-alert *ngIf="showAlert" [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-alert>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>
  <section *ngIf="exposition" class="content-left ml-3 mr-2">
    <!-- Section Expositoin Forms-->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-9">
              <label for="name">Titel</label>
              <input id="name" class="form-control" type="text"
                     [(ngModel)]="getExpositionContent(selectedLanguage).name" required="true">

            </div>
            <div class="col-3">
              <label for="lang">Sprache</label>
              <select id="lang" class="form-control" [(ngModel)]="selectedLanguage">
                <option *ngFor="let lang of languages" [ngValue]='lang'>{{lang}}</option>
              </select>
            </div>
          </div>
          <div class="mb-2">
            <label class="mr-2" for="active">Aktiv</label>
            <input id="active" type="checkbox" [(ngModel)]="exposition.active">
          </div>

          <label for="info">Beschreibung</label>
          <textarea id="info" class="form-control mb-2" rows="7"
                    [(ngModel)]="getExpositionContent(selectedLanguage).info"></textarea>

          <label for="note">Notizen</label>
          <textarea id="note" class="form-control mb-2" [(ngModel)]="exposition.note" rows="7"></textarea>
          <div class="form-row mb-2">
            <div class="col-12">
              <button (click)="createExposition()" class="btn btn-success w-100" aria-label="Create exposition">
                Anlegen
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<app-cookie-banner></app-cookie-banner>
