<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section class="col-12 mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>
  <section class="content mx-3">
    <app-alert *ngIf="showAlert" [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-alert>
    <!-- Section Headings -->
    <!-- Section Forms -->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-9">
              <input class="form-control" type="text" placeholder="Titel" [(ngModel)]="infopage.name">
            </div>
            <div class="col-3">
              <select class="form-control" [(ngModel)]="infopage.lang">
                <option *ngFor="let lang of languages" [ngValue]='lang'>{{lang}}</option>
              </select>
            </div>
          </div>
          <label class="form-label mb-2" for="text">
            Informationen
          </label>
          <textarea id="text" class="form-control mb-2" placeholder="Text" rows="5"
                    [(ngModel)]="infopage.text"></textarea>
          <div class="form-row mb-2">
            <div class="col-12">
              <button class="btn btn-success w-100" type="button" (click)="createInfopage()">Speichern
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<app-cookie-banner></app-cookie-banner>
