<div id="page">

  <!-- App Bar -->
  <mat-toolbar class="mat-elevation-z4" style="display: flex">
    <div style="flex-grow: 1"></div>

    <mat-menu #appMenu="matMenu">
      <div><a [href]="'/en' + this.router.url"><img class="ml-2" src="assets/images/en.png"/> Englisch</a></div>
      <div><a [href]="'/de' + this.router.url"><img class="ml-2" src="assets/images/de.png"/> Deutsch</a></div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <img [src]="'assets/images/' + locale + '.png'"/>
    </button>
  </mat-toolbar>

  <!-- Page Content -->
  <main>

    <!-- wAVdio Logo -->
    <div style="position: relative; padding-top: 30%; margin: 8%">
      <img *ngIf="museum && museum.logo"
           style="position: absolute; height: 100%; left: 0; top: 0; object-fit: contain"
           class="w-100"
           src="assets/images/wAVdio_Logo_gross.png"
           [alt]="museum.logo.alternativeText"/>
    </div>

    <!-- Welcome Text -->
    <h1 *ngIf="museum"
        class="display-4 mt-2"
        style="text-align: center; font-size: 6vw">

      {{ getMuseumContent(locale).welcomeText }}
    </h1>

    <!-- Exposition Selection Section -->
    <section id="expositions" style="margin-top: 10%">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a routerLink="/museum">
              <button>Continue</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Agreements Section -->
    <section id="agreement" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="termsOfUse" [checked]="termsOfUseFlag"
                     (change)="onTermsChange()">
              <label for="termsOfUse">
                <span i18n>Ich akzeptiere die</span>
                <a routerLink="/user/usage-terms/termsOfUse" i18n> Nutzungsbedingungen</a>
                <span i18n> und die</span>
                <a routerLink="/user/usage-terms/termsOfPrivacy" i18n> Datenschutzbestimmungen</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <section role="contentinfo" style="height: 48px; background-color: #f5f5f5"></section>
  </footer>
</div>

<div *ngIf="this.cookieLawService">
  <ng-container *ngIf='this.cookieLawService.isAccepted()'>
    <div class="fixed-bottom text-center">
      <div class="p-3 mb-2 bg-secondary text-white">
        <h3 i18n>Diese Website verwendet Cookies</h3>
        <p i18n>
          – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am
          Ende der Seite. Klicken Sie auf „Ich stimme zu“, um Cookies zu akzeptieren und direkt unsere Website besuchen
          zu können.
        </p>
        <button type="button" class="btn btn-light btn-lg" (click)="this.cookieLawService.accepted()" i18n>
          Ich stimme zu
        </button>
      </div>
    </div>
  </ng-container>
</div>
