<div id="page">

  <!-- App Bar -->
  <mat-toolbar class="mat-elevation-z4" style="display: flex">
    <div style="flex-grow: 1"></div>

    <mat-menu #appMenu="matMenu">
      <div><a [href]="'/en' + this.router.url"><img class="ml-2" src="assets/images/en.png"/> Englisch</a></div>
      <div><a [href]="'/de' + this.router.url"><img class="ml-2" src="assets/images/de.png"/> Deutsch</a></div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <img [src]="'assets/images/' + locale + '.png'"/>
    </button>
  </mat-toolbar>

  <!-- Page Content -->
  <main>

    <!-- wAVdio Logo -->
    <div style="position: relative; padding-top: 30%; margin: 8%">
      <img *ngIf="museum && getMuseumContent(locale).logo; else defaultLogo"
           style="position: absolute; height: 100%; left: 0; top: 0; object-fit: contain"
           class="w-100"
           [src]="'/uploads/' + museum._id + '/' + getMuseumContent(locale).logo.filename"
           [alt]="getMuseumContent(locale).logo.alternativeText"/>
      <ng-template #defaultLogo>
        <img style="position: absolute; height: 100%; left: 0; top: 0; object-fit: contain"
             class="w-100"
             src="assets/images/wAVdio_Logo_gross.png"
             [alt]="getMuseumContent(locale).logo.alternativeText"/>
      </ng-template>
    </div>

    <!-- Welcome Text -->
    <h1 *ngIf="museum"
        style="margin: 5%; text-align: center; font-size: 4vw">

      {{ getMuseumContent(locale).welcomeText }}
    </h1>

    <a [routerLink]="termsOfUseFlag ? '/museum' : ''" style="display: block; text-align: center; margin: auto">
      <img style="width: 30%" [src]="'assets/images/continue_' + locale + '.png'">
    </a>

    <!-- Agreements Section -->
    <section id="agreement" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="termsOfUse" [checked]="termsOfUseFlag"
                     (change)="onTermsChange()">
              <label for="termsOfUse">
                <span i18n>Ich akzeptiere die</span>
                <a routerLink="/user/usage-terms/termsOfUse" i18n> Nutzungsbedingungen</a>
                <span i18n> und die</span>
                <a routerLink="/user/usage-terms/termsOfPrivacy" i18n> Datenschutzbestimmungen</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <section role="contentinfo" style="height: 48px; background-color: #f5f5f5"></section>
  </footer>
</div>

<app-cookie-banner></app-cookie-banner>
