<div class="wrapper">
  <section class="sidebar">
    <app-admin-part-sidebar></app-admin-part-sidebar>
  </section>

  <!-- Header -->

  <app-admin-part-header class="header" [breadcrumbs]="breadcrumbs"
                         showLanguageSelection="true" (languageSelected)="selectedLanguage = $event"></app-admin-part-header>

  <section class="content-left ml-3 mr-2">

    <!-- Stand-alone exhibits -->
    <section class="mt-2">
      <app-admin-part-box-card descHeader="Exhibits">
        <div header>
          <a *ngIf="museum"
             routerLink="/admin/exhibit/new/{{museum._id}}"
             routerLinkActive="active">

            <fa-icon aria-label="Add exhibit" class="fa-lg" icon="plus-circle"></fa-icon>
          </a>
        </div>
        <div body *ngFor="let exhibit of exhibits">
          <app-exhibit-card [exhibit]="exhibit"
                            [width]="'125px'"
                            [height]="'150px'"
                            [selectedLanguage]="selectedLanguage"
                            [link]="'/admin/exhibit/'+ exhibit._id">
          </app-exhibit-card>
        </div>
      </app-admin-part-box-card>
    </section>

    <!-- Section Expositions -->
    <section class="mt-2">
      <app-admin-part-box-card [descHeader]="descExpositionsHeader">
        <div header>
          <a routerLink="/admin/exposition/new" routerLinkActive="active">
            <fa-icon aria-label="Add exposition" class="fa-lg" icon="plus-circle"></fa-icon>
          </a>
        </div>
        <div body *ngFor="let exposition of expositions">
          <app-exposition-card [exposition]="exposition" [width]="'125px'" [height]="'150px'"
                               [selectedLanguage]="selectedLanguage"
                               [link]="'/admin/exposition/'+ exposition._id"></app-exposition-card>
        </div>
      </app-admin-part-box-card>
    </section>
  </section>
</div>

<app-common-part-cookie-banner></app-common-part-cookie-banner>
