html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button:hover {
  color: black;
}

/*
*
*  Classes for pictures shown for this exposition
*
*/

.profile-pic {
  display: inline-block;
  position: relative;
}

img {
  width: 75px;
  height: 75px;

  object-fit: cover;
}

.profile-pic:hover .remove {
  display: block;
}

.remove {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 8px;
  padding-right: 8px;
}

.text-max {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
