#user-site-plan-component {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
    overflow: auto;
}

p {
    padding: 8px;
}

mat-toolbar {
    flex-shrink: 0;
    background: #FDF5E6;
}
