<div class="wrapper">
  <aside class="sidebar">
    <app-admin-part-sidebar></app-admin-part-sidebar>
  </aside>

  <!-- Header -->

  <app-admin-part-header class="header" [breadcrumbs]="breadcrumbs"></app-admin-part-header>

  <main class="content mx-3">

    <!-- Likes -->

    <div class="card mt-2">
      <div class="card-header">
        Likes
      </div>
      <div class="card-body" style="width: 90%">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline">
        </ngx-charts-line-chart>
      </div>
    </div>

    <!-- Exhibits -->

    <div class="card mt-2">
      <div class="card-header">
        Ausstellungsstücke
      </div>
      <div class="card-body d-flex flex-wrap">
        <app-exhibit-card
          *ngFor="let exhibit of exhibits"
          [selectedLanguage]="locale"
          [exhibit]="exhibit"
          [width]="'125px'"
          [height]="'150px'"
          [link]="'/admin/statistics/exhibit/'+ exhibit._id">
        </app-exhibit-card>
      </div>
    </div>

    <!-- Comments -->

    <div *ngIf="exposition" class="card mt-2">
      <div class="card-header">
        Kommentare
      </div>
      <div class="card-body">
        <div *ngFor="let comment of exposition.comments">
          <app-admin-part-comment-card>{{comment.text}}</app-admin-part-comment-card>
        </div>
      </div>
    </div>

  </main>
</div>

<app-cookie-banner></app-cookie-banner>
