<div id="admin-header">

  <!-- Breadcrumbs -->

  <ol class="breadcrumbs">
    <li *ngFor="let breadcrumb of breadcrumbs">
      <ng-container *ngIf="breadcrumb.url; then link else text"></ng-container>

      <ng-template #link>
        <a [href]="breadcrumb.url">{{breadcrumb.text}}</a>
      </ng-template>

      <ng-template #text>{{breadcrumb.text}}</ng-template>
    </li>
  </ol>

  <!-- Language Selection -->

  <div class="flex-grow"></div>

  <div id="language-selection" *ngIf="setting">
    <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Show languages">
      <img [src]="'assets/images/' + selectedLanguage + '.png'" [alt]="langAltTexts[selectedLanguage]"/>
    </button>

    <mat-menu #appMenu="matMenu">
      <div class="language-buttons">

        <button mat-button i18n>
          <img src="assets/images/de.png" [alt]="langAltTexts['de']" (click)="selectedLanguage = 'de'"/>
          Deutsch
        </button>

        <button mat-button i18n>
          <img src="assets/images/en.png" [alt]="langAltTexts['en']" (click)="selectedLanguage = 'en'"/>
          Englisch
        </button>

        <button mat-button i18n>
          <img src="assets/images/es.png" [alt]="langAltTexts['es']" (click)="selectedLanguage = 'es'"/>
          Spanish
        </button>

        <button mat-button i18n>
          <img src="assets/images/fr.png" [alt]="langAltTexts['fr']" (click)="selectedLanguage = 'fr'"/>
          French
        </button>

      </div>
    </mat-menu>
  </div>
</div>
