<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section class="header ml-3 mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>
  <section class="content-left ml-3 mr-2">
    <!-- Section Applikationslog -->
    <section class="mt-2">
      <label class="form-label mb-2" for="applog">Applikationslog</label>
      <textarea id="applog"readonly class="form-control mt-2" rows="15">{{applicationLog}}</textarea>
    </section>
  </section>
  <section class="content-right ml-3 mr-2">
    <!-- Section Apilog -->
    <section class="mt-2">
      <label class="form-label mb-2" for="schnittlog">Schnittstellenlog</label>
      <textarea id="schnittlog"readonly class="form-control mt-2" rows="15">{{apiLog}}</textarea>
    </section>
  </section>
</div>
