html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button:hover {
  color: black;
}

/*
*
*  Classes for pictures shown for this exposition
*
*/

.profile-pic {
  display: inline-block;
  position: relative;
}

img {
  width: 75px;
  height: 75px;

  object-fit: cover;
}

.profile-pic:hover .remove {
  display: block;
}

.remove {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 8px;
  padding-right: 8px;
}

.text-max {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * MYTOOLTIP
 */

.mytooltip {
  position: relative;
  display: inline-block;
}

/* Mytooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the mytooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -5px;
  right: 105%;
}

/* Show the mytooltip text when you mouse over the mytooltip container */
.mytooltip:hover .mytooltiptext {
  visibility: visible;
}

/*
 * Audio Player
 */

#audio-player {
  width: 100%;
}
