<div class="container text-center w-25 my-5">
  <form #form class="form-signin" (submit)="login()">
    <img class="mb-4" src="assets/images/wAVdio_Logo_gross.png" alt="wAVdio Logo">

    <h1 class="h3 mb-3 font-weight-normal">wAVdio-Anmeldeseite</h1>

    <ng-container *ngIf="isIncorrect">
      <div
        style="font-size: 1em; border:2px solid red; border-radius: 1%; background: rgb(250, 188, 188); margin-bottom:1.5em;"
        ng-hide="false" class="ng-hide">
        <p>Benutzername oder Passwort inkorrekt!</p>
      </div>
    </ng-container>

    <label for="username" class="sr-only">Benutzername</label>
    <input id="username" type="text" class="form-control" placeholder="Benutzername" name="username" required autofocus
      [(ngModel)]="credentials.username">


    <label for="password" class="sr-only">Passwort</label>
    <input id="password" type="password" class="form-control my-2" name="password" placeholder="Passwort" required
      [(ngModel)]="credentials.password">

    <button class="btn btn-lg btn-primary btn-block my-4" type="submit" aria-label="Log in" i18n-aria-label>Anmelden</button>

  </form>
</div>

<app-cookie-banner></app-cookie-banner>
