/*
 * Flex layout
 */

#page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#page main {
    flex-grow: 1;
    overflow: auto;
}

mat-toolbar {
    flex-shrink: 0;
    background: #FDF5E6;
}

/*
 * Footer
 */

mat-toolbar {
    padding: 0;
}

mat-toolbar fa-icon {
    width: 50%;
    text-align: center;
}

/*
 *
 */

a {
    color: inherit;
    text-decoration: inherit;
}

.icons {
    font-size: 1.5rem;
}

.liked {
    color: red;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.truncate {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    font-size: 20px;
}

/*
 * Card Grid
 */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    margin: 8px;
}
