.player {
    box-sizing: border-box;
    resize: none;
    width: 360px;
    max-width: 100%;
    margin: 10px auto;
}

video {
    width: 100%;
}

progress {
    width: 100%;
    height: 15px;
    background-color: black;
}

progress::-moz-progress-bar {
    background-color: white !important;
}

.time .controls {
    width: 100%;
    height: 100%;
    text-align: center;
}

.playpause, .stop, .fwd, .rwd {
    display: inline-block;
    width: 25%;
    border: 1px solid;
}

@media only screen
and (max-device-width: 599px) {

    .time {
        font-size: 10pt;
    }

    .fa-lg {
        margin-left: -5px;
    }
}

@media only screen
and (min-device-width: 600px) {

    .time {
        font-size: 15pt;
    }

    .playpause, .stop, .fwd, .rwd {
        height: 30px;
    }
}
