<section class="player">
  <video #videoplayer (timeupdate)="updateTime()" preload="metadata">
    <ng-container *ngFor="let video_file of exhibit.getContent(selectedLanguage).video">
      <source [src]="'/uploads/' + exhibit._id + '/' + video_file.filename"
              [type]="video_file.mimeType">
    </ng-container>
    <p>Your browser does not support the HTML5 video feature.</p>
  </video>
  <progress #progress class="progress" min='0' max='100' value='0'>0%</progress>
  <div #time class="time">00:00</div>
  <div class="controls">
    <button class="playpause" (click)="playPause()" aria-label="Play and pause video">
      <ng-container *ngIf="!videoPlaying">
        <fa-icon icon="play" size="lg"></fa-icon>
      </ng-container>
      <ng-container *ngIf="videoPlaying">
        <fa-icon icon="pause" size="lg"></fa-icon>
      </ng-container>
    </button>
    <button class="stop" (click)="stopIt()" aria-label="Stop video">
      <fa-icon icon="stop" size="lg"></fa-icon>
    </button>
    <button class="rwd" (click)="rewind()" aria-label="Rewind video">
      <fa-icon icon="backward" size="lg"></fa-icon>
    </button>
    <button class="fwd" (click)="forward()" aria-label="Fast forward video">
      <fa-icon icon="forward" size="lg"></fa-icon>
    </button>
  </div>
</section>
