<div class="bg-dark">
  <ul>
    <li>
      <a class="text-light" routerLink="/admin/welcome" routerLinkActive="active">
        <span class="long-text"><fa-icon icon="play"></fa-icon>Willkommen</span>
        <span class="short-text"><fa-icon icon="play"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/museum" routerLinkActive="active">
        <span class="long-text"><fa-icon icon="landmark"></fa-icon>Museum</span>
        <span class="short-text"><fa-icon icon="landmark"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/exhibits-expositions" routerLinkActive="active">
        <span class="long-text"><fa-icon icon="image"></fa-icon>Exponate & Rundgänge</span>
        <span class="short-text"><fa-icon icon="image"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/info-pages" routerLinkActive="active">
        <span class="long-text"><fa-icon icon="info"></fa-icon>Seitenleiste</span>
        <span class="short-text"><fa-icon icon="info"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/settings" routerLinkActive="active">
        <span class="long-text"><fa-icon icon="cog"></fa-icon>Einstellungen</span>
        <span class="short-text"><fa-icon icon="cog"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin" (click)="logout()" routerLinkActive="active" aria-label="Log out">
        <span class="long-text"><fa-icon icon="sign-out-alt"></fa-icon>Abmelden</span>
        <span class="short-text"><fa-icon icon="sign-out-alt"></fa-icon></span>
      </a>
    </li>
  </ul>
</div>
