<div class="bg-dark">
  <ul>
    <li>
      <a class="text-light" routerLink="/admin/welcome" routerLinkActive="active">
        <span class="long-text">Willkommen</span>
        <span class="short-text"><fa-icon icon="play"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/museum" routerLinkActive="active">
        <span class="long-text">Museum</span>
        <span class="short-text"><fa-icon icon="home"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/exhibits-expositions" routerLinkActive="active">
        <span class="long-text">Exponate & Rundgänge</span>
        <span class="short-text"><fa-icon icon="home"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/info-pages" routerLinkActive="active">
        <span class="long-text">Seitenleiste</span>
        <span class="short-text"><fa-icon icon="info"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin/settings" routerLinkActive="active">
        <span class="long-text">Einstellungen</span>
        <span class="short-text"><fa-icon icon="cog"></fa-icon></span>
      </a>
    </li>
    <li>
      <a class="text-light" routerLink="/admin" (click)="logout()" routerLinkActive="active" aria-label="Log out">
        <span class="long-text">Abmelden</span>
        <span class="short-text"><fa-icon icon="sign-out-alt"></fa-icon></span>
      </a>
    </li>
  </ul>
</div>
