<mat-toolbar class="mat-elevation-z4" style="display: flex">

  <!-- Burger Menu -->

  <button *ngIf="sidenav" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Back Arrow -->

  <a *ngIf="back_arrow" routerLink="/museum" routerLinkActive="active"
     style="color: inherit; text-decoration: inherit">

    <mat-icon>arrow_back</mat-icon>
  </a>

  <!-- Language Selection -->

  <div style="flex-grow: 1"></div>

  <mat-menu #appMenu="matMenu">
    <div>
      <a [href]="'/en' + this.router.url" i18n>
        <img class="ml-2" src="assets/images/en.png" alt="English Language Icon"/>
        English
      </a>
    </div>
    <div>
      <a [href]="'/de' + this.router.url" i18n>
        <img class="ml-2" src="assets/images/de.png" alt="German Language Icon"/>
        German
      </a>
    </div>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <img [src]="'assets/images/' + locale + '.png'" alt="Current Language Icon"/>
  </button>

</mat-toolbar>
