<mat-toolbar class="mat-elevation-z4" style="display: flex">

  <!-- Burger Menu -->

  <button *ngIf="sidenav" mat-icon-button (click)="sidenav.toggle()" aria-label="Open burger menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Back Arrow -->

  <a *ngIf="back_arrow_link" [routerLink]="back_arrow_link" routerLinkActive="active"
     style="color: inherit; text-decoration: inherit"
     aria-label="Go back">

    <mat-icon>arrow_back</mat-icon>
  </a>

  <!-- Language Selection -->

  <div style="flex-grow: 1"></div>

  <app-language-selection></app-language-selection>

</mat-toolbar>
