<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section *ngIf="exhibit" class="header ml-3 mt-2">
    <app-alert *ngIf="showAlert" [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-alert>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li *ngIf="exhibit.parentModel === 'Exposition'" class="breadcrumb-item">
        <a routerLink="/admin/exposition/{{exhibit.parent}}">Ausstellung</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>
  <section *ngIf="exhibit" class="content-left ml-3 mr-2">
    <!-- Section Expositoin Forms-->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-6">
              <label for="newAExhibit">Titel</label>
              <input id="newAExhibit" class="form-control" type="text"
                     [(ngModel)]="getExhibitContent(selectedLanguage).name" required="true">

            </div>
            <div class="col-3">
              <label for="code">Code</label>
              <input id="code"class="form-control" type="number" min="100" max="999"
                     [(ngModel)]="exhibit.code" required="true">
            </div>
            <div class="col-3">
              <label for="selectLanguage">Sprache</label>
              <select id="selectLanguage"class="form-control" [(ngModel)]="selectedLanguage">

                <option *ngFor="let lang of languages" [ngValue]='lang'>{{lang}}</option>
              </select>
            </div>
          </div>
          <div class="mb-2">
            <label class="mr-2 form-check-label" for="active">Aktiv</label>
            <input id="active" type="checkbox" [(ngModel)]="exhibit.active">
          </div>
          <label for="beschr">Beschreibung</label>
          <textarea id="beschr" class="form-control mb-2" rows="7"
                    [(ngModel)]="getExhibitContent(selectedLanguage).info" ></textarea>
          <label for="notizen">Notizen</label>
          <textarea id="notizen" class="form-control mb-2" [(ngModel)]="exhibit.note" rows="7"></textarea>
          <div class="form-row mb-2">
            <div class="col-12">
              <button (click)="createExhibit()" class="btn btn-success w-100">
                Anlegen
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<app-cookie-banner></app-cookie-banner>
