#carousel-container {
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  width: 50px;
  height: 50px;

  background-color: rgba(20, 20, 20, 0.5);
  color: white;
}

#prevSlide {
  left: 5%;
}

#nextSlide {
  right: 5%;
}

.carousel-button mat-icon {
  transform: scale(2);
}

.golden-cut-outer {
  position: relative;
  padding-top: 61.8%;
}

.golden-cut-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.golden-cut-inner img {
  width: 100%;
  height: 100%;
}

img {
  object-fit: contain;
  background-color: black
}
