<section class="content p-3">
  <ng-container *ngIf="this.exhibit">
    <img [src]="'/uploads/' + this.exhibit._id + '/' + this.getExhibitContent(this.lang).images[this.index].filename"
    [alt]="this.getExhibitContent(this.lang).images[this.index].alternativeText">
  </ng-container>
  <ng-container *ngIf="this.exposition">
    <img *ngIf="this.exposition.logo" [src]="'/uploads/' + this.exposition._id + '/' + this.exposition.logo.filename"
    [alt]="this.exposition.logo.alternativeText">
  </ng-container>
  <ng-container *ngIf="this.museum">
    <img *ngIf="this.museum.logo" [src]="'/uploads/' + this.museum._id + '/' + this.museum.logo.filename" [alt]="museum.logo.alternativeText">
  </ng-container>
</section>
<section class="content p-3">
  <div class="form-row mb-2">
    <ng-container *ngIf="this.exhibit">
      <label for="image-alternativeText">Beschreibung</label>
      <textarea id="image-alternativeText" class="form-control mb-2" rows="3"
                [(ngModel)]="this.getExhibitContent(this.lang).images[this.index].alternativeText"></textarea>
    </ng-container>
    <ng-container *ngIf="this.exposition">
      <label for="exposition-logo-alternativeText">Beschreibung</label>
      <textarea *ngIf="this.exposition.logo" id="exposition-logo-alternativeText" class="form-control mb-2" rows="3" [(ngModel)]="this.exposition.logo.alternativeText"></textarea>
    </ng-container>
    <ng-container *ngIf="this.museum">
      <label for="museum-logo-alternativeText">Beschreibung</label>
      <textarea *ngIf="this.museum.logo" id="museum-logo-alternativeText" class="form-control mb-2" rows="3" [(ngModel)]="this.museum.logo.alternativeText"></textarea>
    </ng-container>
    <div class="col-4">
      <button (click)="handleUpdate()" class="btn btn-success w-100" aria-label="Save image details">
        Speichern
      </button>
    </div>
    <div class="col-4">
      <button (click)="handleDelete()" class="btn btn-danger w-100" aria-label="Delete image">
        Löschen
      </button>
    </div>
    <div class="col-4">
      <button (click)="this.modal.close()" class="btn btn-secondary w-100" aria-label="Cancel">
        Abbrechen
      </button>
    </div>
  </div>
</section>
