// Material Theming: https://material.angular.io/guide/theming

@import '~@angular/material/theming';

@include mat-core();

$primary-palette: mat-palette($mat-grey);
$accent-palette:  mat-palette($mat-orange);

$theme: mat-dark-theme($primary-palette, $accent-palette);

@include angular-material-theme($theme);
