<div class="wrapper">
  <app-admin-sidebar class="sidebar"></app-admin-sidebar>

  <!-- Header -->

  <app-admin-header class="header" [breadcrumbs]="breadcrumbs"
                    showLanguageSelection="true" (languageSelected)="selectedLanguage = $event"></app-admin-header>

  <app-admin-alert *ngIf="showAlert" class="header mt-2"
                   [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-admin-alert>

  <!-- Right Column -->

  <section *ngIf="museum" class="content-right m-2">

    <!-- Site Plan -->

    <app-admin-box-card descHeader="Lageplan">
      <div header>
        <fa-icon aria-label="Add site plan" [hidden]="museum.getContent(selectedLanguage).sitePlan"
                 (click)="onSitePlanInput.click()"
                 class="fa-lg"
                 icon="plus-circle">
        </fa-icon>
        <form class="d-none">
          <input #onSitePlanInput (change)="uploadSitePlan($event)" type="file" name="file">
        </form>
        <fa-icon aria-label="Delete site plan" [hidden]="!museum.getContent(selectedLanguage).sitePlan" class="fa-lg"
                 icon="minus-circle"
                 (click)="deleteSitePlan()"></fa-icon>
      </div>
      <div body>
        <img *ngIf="museum.getContent(selectedLanguage).sitePlan" class="w-100"
             [alt]="museum.getContent(selectedLanguage).sitePlan.alternativeText"
             [src]="'/uploads/' + museum._id + '/' + museum.getContent(selectedLanguage).sitePlan.filename"/>
      </div>
    </app-admin-box-card>

    <!-- Info Pages -->

    <div class="mt-2">
      <app-admin-box-card descHeader="Info-Seiten">
        <div header>
          <a routerLink="/admin/info-page/new" routerLinkActive="active">
            <fa-icon aria-label="Add info page" class="fa-lg" icon="plus-circle"></fa-icon>
          </a>
        </div>

        <div body>
          <a *ngFor="let infoPage of infoPages"
             routerLink="/admin/info-page/{{ infoPage._id }}" routerLinkActive="active">
            {{infoPage.name}}
          </a>
        </div>
      </app-admin-box-card>
    </div>
  </section>
</div>

<app-common-cookie-banner></app-common-cookie-banner>
