<mat-toolbar class="mat-elevation-z4" style="display: flex; position: relative; z-index: 1000">

  <!-- Burger Menu -->

  <button *ngIf="sidenav" mat-icon-button (click)="sidenav.toggle()" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Back Arrow -->

  <button mat-icon-button *ngIf="backArrow" (click)="location.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <!-- Title -->

  <span style="margin-left: 8px">{{title}}</span>

  <!-- Language Selection -->

  <div style="flex-grow: 1"></div>

  <div *ngIf="setting">
    <mat-menu #appMenu="matMenu">
      <div *ngIf="this.setting.activeLangs.de" class="menu-entry">
        <a [href]="'/de' + this.router.url" i18n>
          <img src="../../../../../assets/images/de.png" [alt]="langAltTexts['de']"/>
          German
        </a>
      </div>
      <div *ngIf="this.setting.activeLangs.en" class="menu-entry">
        <a [href]="'/en' + this.router.url" i18n>
          <img src="../../../../../assets/images/en.png" [alt]="langAltTexts['en']"/>
          English
        </a>
      </div>
      <div *ngIf="this.setting.activeLangs.es" class="menu-entry">
        <a [href]="'/es' + this.router.url" i18n>
          <img src="../../../../../assets/images/es.png" [alt]="langAltTexts['es']"/>
          Spanish
        </a>
      </div>
      <div *ngIf="this.setting.activeLangs.fr" class="menu-entry">
        <a [href]="'/fr' + this.router.url" i18n>
          <img src="../../../../../assets/images/fr.png" [alt]="langAltTexts['fr']"/>
          French
        </a>
      </div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Show available languages">
      <img [src]="'assets/images/' + locale + '.png'" [alt]="langAltTexts[locale]"/>
    </button>
  </div>

</mat-toolbar>
