#page {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#page main {
  flex-grow: 1;
  overflow: auto;
}

#agreement {
  margin: auto;
  max-width: 300px;
}

#agreement a {
  text-decoration: underline;
}
