<div id="page">

  <!-- App Bar -->
  <mat-toolbar class="mat-elevation-z4" style="display: flex">
    <a routerLink="/museum" routerLinkActive="active" i18n>
      <mat-icon>arrow_back</mat-icon>
    </a>

    <div style="flex-grow: 1"></div>

    <mat-menu #appMenu="matMenu">
      <div><a [href]="'/en' + this.router.url"><img class="ml-2" src="assets/images/en.png"/> Englisch</a></div>
      <div><a [href]="'/de' + this.router.url"><img class="ml-2" src="assets/images/de.png"/> Deutsch</a></div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <img [src]="'assets/images/' + locale + '.png'"/>
    </button>
  </mat-toolbar>

  <!-- Page Content -->
  <main>
    <section *ngIf="infopage">
      <div class="container">
        <h1>{{ infopage.name }}</h1>
        <p>{{ infopage.text }}</p>
      </div>
    </section>
  </main>

  <footer>
    <section role="contentinfo" style="height: 48px; background-color: #f5f5f5"></section>
  </footer>
</div>

<app-cookie-banner></app-cookie-banner>
