<div class="wrapper">
  <section class="sidebar">
    <app-sidebar></app-sidebar>
  </section>
  <section class="header ml-3 mt-2">
    <app-alert *ngIf="showAlert" [alertType]="alertType" [alertTimeout]="5" [alertMessage]="alertMessage"></app-alert>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{descHeader}}</li>
    </ol>
    <h1>{{descHeader}}</h1>
  </section>

  <section *ngIf="this.museum" class="content-left ml-3 mr-2">
    <!-- Section Museum Forms-->
    <section class="mt-2">
      <div class="card">
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-6">
              <label for="name">Museumsname</label>
              <input id="name" class="form-control" type="text"
                     [(ngModel)]="getMuseumContent(selectedLanguage).name">
            </div>
            <div class="col-3">
              <label for="lang">Sprache</label>
              <select id="lang" class="form-control" [(ngModel)]="selectedLanguage">
                <option *ngFor="let lang of languages" [ngValue]='lang'>{{lang}}</option>
              </select>
            </div>
          </div>
          <label for="welcomeText">Begrüßungstext</label>
          <textarea id="welcomeText" class="form-control mb-2" rows="5" [placeholder]="placeholder"
                    [(ngModel)]="getMuseumContent(selectedLanguage).welcomeText"></textarea>
          <label for="info">Beschreibung</label>
          <textarea id="info" class="form-control mb-2" rows="5" placeholder="asdf"
                    [(ngModel)]="getMuseumContent(selectedLanguage).info"></textarea>
          <label for="termsOfUse">Nutzungsbedingungen</label>
          <textarea id="termsOfUse" class="form-control mb-2" rows="5"
                    [(ngModel)]="getMuseumContent(selectedLanguage).termsOfUse"></textarea>
          <label for="privacyTerms">Datenschutzerklärung</label>
          <textarea id="privacyTerms" class="form-control mb-2"
                    [(ngModel)]="getMuseumContent(selectedLanguage).privacyTerms" rows="5"></textarea>
          <div class="form-row mb-2">
            <div class="col-12">
              <button (click)="updateMuseum()" class="btn btn-success w-100" aria-label="Save museum">
                Speichern
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section *ngIf="this.museum" class="content-right ml-3 mr-2">

    <!-- Logo -->
    <section class="mt-2">
      <app-box-card [descHeader]="descLogo">
        <div header>
          <fa-icon [hidden]="getMuseumContent(selectedLanguage).logo" (click)="onLogoInput.click()"
                   class="fa-lg" icon="plus-circle"
                   aria-label="Add logo">
          </fa-icon>
          <form class="d-none">
            <input #onLogoInput (change)="onLogoChanged($event)" type="file" name="file">
          </form>
          <fa-icon [hidden]="!getMuseumContent(selectedLanguage).logo" class="fa-lg" icon="minus-circle"
                   (click)="deleteLogo()"
                   aria-label="Delete logo"></fa-icon>
        </div>
        <div body>
          <img *ngIf="getMuseumContent(selectedLanguage).logo" (click)="openLogoBigView()" class="w-100"
               [src]="'/uploads/' + museum._id + '/' + getMuseumContent(selectedLanguage).logo.filename"
               [alt]="getMuseumContent(selectedLanguage).logo.alternativeText"/>
        </div>
      </app-box-card>
    </section>

    <!-- Image -->
    <section class="mt-2">
      <app-box-card [descHeader]="descImage">
        <div header>
          <fa-icon [hidden]="getMuseumContent(selectedLanguage).image" (click)="onImageInput.click()"
                   class="fa-lg" icon="plus-circle"
                   aria-label="Add image">
          </fa-icon>
          <form class="d-none">
            <input #onImageInput (change)="onImageChanged($event)" type="file" name="file">
          </form>
          <fa-icon [hidden]="!getMuseumContent(selectedLanguage).image" class="fa-lg" icon="minus-circle"
                   (click)="deleteImage()"
                   aria-label="Delete image"></fa-icon>
        </div>
        <div body>
          <img *ngIf="getMuseumContent(selectedLanguage).image" (click)="openImageBigView()" class="w-100"
               [src]="'/uploads/' + museum._id + '/' + getMuseumContent(selectedLanguage).image.filename"
               [alt]="getMuseumContent(selectedLanguage).image.alternativeText"/>
        </div>
      </app-box-card>
    </section>

    <!--Neues Passwort anlegen-->
    <section class="mt-2">
      <div class="card">
        <div class="card-header">Benutzername und Passwort ändern</div>
        <div class="card-body">
          <div class="form-row mb-2">
            <div class="col-12">
              <label for="username">Benutzername</label>
              <input id="username" class="form-control" type="text"
                     [(ngModel)]="user.username">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-12">
              <label for="newUsername">Neuer Benutzername</label>
              <input id="newUsername" class="form-control" type="text"
                     [(ngModel)]="user.newUsername">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-12">
              <label for="password">Altes Passwort</label>
              <input id="password" class="form-control" type="password"
                     [(ngModel)]="user.password">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-12">
              <label for="newPassword">Neues Passwort</label>
              <input id="newPassword" class="form-control" type="password"
                     [(ngModel)]="user.newPassword">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-12">
              <label for="newPasswordRepeat">Neues Passwort wiederholen</label>
              <input id="newPasswordRepeat" class="form-control" type="password"
                    [(ngModel)]="newPasswordRepeat">
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-12">
              <button (click)="updateUser()" class="btn btn-success w-100" aria-label="Update user data">
                Benutzerdaten aktualisieren
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

<app-cookie-banner></app-cookie-banner>
